.consumiveisFilter {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.6em;
}

.consumiveisFilter > button {
  height: 2em;
  background-color: transparent;
  border: 2px #1a73e8 solid;
  border-radius: 5px;
  padding: 4px;
}

.consumiveisItens {
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 0.6em;
}

.consumiveisItens > button {
  height: 4em;
  width: 100%;
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.consumiveisItens > button > p {
  text-transform: uppercase;
}