.main {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../icons/map.png');
    height: calc(100vh - 15vh);
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    width: 300px;
}

.iconsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttonsContainer {
    padding-top: 1.5em;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
}

