.main {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../icons/map.png');
    height: calc(100vh - 15vh);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main > img {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 5em; 
}


