.popupWrapper { 
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.popup {
    font-family: Arial;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: white;
    position: relative;
    border-radius: 16px;
}