.main {
    display: flex;
    justify-content: space-between;
    color: black;
    /* margin-bottom:; */
    width: 90vw;
    align-items: center;
}

.img {
    display: block;
    width: 150px;
    height: 150px;
}